<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8 bg-card">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">Gestión de Aplicaciones CPD</div>
        </div>
        <!-- Main actions -->
        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
            <!-- Aquí puedes añadir acciones adicionales si las necesitas -->
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400">
            <div class="gestion-cpd">
                <!-- Primera fila con Gestión Imágenes SMOWL y Migración PSC -->
                <div class="stats">
                    <div class="stat">
                        <h4>Gestión Imágenes SMOWL</h4>
                        <img src="assets/icons/smowl.png" alt="Icono de Gestión Imágenes SMOWL" class="">
                    </div>
                    <div class="stat">
                        <h4>Migración PSC</h4>
                        <img src="assets/icons/oraclePSC.png" alt="Icono de Migración PSC" class="">
                    </div>
                    <div class="stat">
                        <h4>Gestión de BECAS</h4>
                        <img src="assets/icons/becas.png" alt="Icono de Gestión de Becas" class="">

                    </div>
                    
                </div>

                <!-- Segunda fila con Última Actualización, más pequeña y centrada -->
                <div class="update-section">
                    
                </div>
            </div>
        </div>
    </div>
</div>
